html {
	height: 100%;
}

body{
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 18px;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	background-color: #EFEFEF;
}

h1 {
	font-size: 2.4rem;
	font-weight: 500;
}

h2 {
	font-size: 1.5rem;
	font-weight: 300;
}

p {
	font-size: 1.2rem;
	line-height: 2rem;
}

a {
	color: #000;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

ul li {
	margin: 0 0 0.5rem 0.2rem;
}

ul li:last-child {
	margin-bottom: 0;
}

.landing {
	position: relative;
	display: table;
	height: 85%;
	width: 100%;
	background-color: #FFF;
}

.landing > div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.landing > div > h1 {
	font-family: "Times New Roman", Times, serif;
	margin: 0 0 0.5rem;
}

.landing > div > h1,
.landing > div > i,
.landing > div > p {
	padding: 0 1rem;
}

.landing ul {
	position: absolute;
	list-style: none;
	bottom: 1rem;
	left: 1rem;
	padding: 0;
	margin: 0;
}

.landing ul > li {
	margin: 0;
}

.landing ul > li > a {
	padding: 0.4rem;
	display: inline-block;
}

.landing ul.right {
	left: auto;
	right: 1rem;
	text-align: right;
}

.portfolio {
	padding: 4rem 1.5rem;
}

.portfolio ul {
	margin: 0;
	padding: 0;
}

.reference {
	max-width: 48rem;
	padding: 0 0 2rem;
	margin: 0 auto 3rem;
}

.reference:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}

.reference > p,
.reference > ul {
	margin: 0 0 1.5rem;
}

.reference > .headline {
	margin: 2rem 0 1rem;
}

.reference > header {
	margin: 0 0 1.5rem;
	padding: 0;
	display: flex;
	width: 100%;
	align-items: center;
}

.reference > header > section {
	flex: 1;
}

.reference .app-icon {
	width: 100px;
	height: 100px;
	margin-right: 1.2rem;
	border-radius: 0.8rem;
	box-shadow: 0 0 3rem 0.15rem rgba(0, 0, 0, 0.1);
}

.reference .company {
	margin: 0 0 0.3rem;
	font-size: 1rem;
}

.reference .title {
	margin: 0 0 0.1rem;
	font-size: 1.5rem;
	color: #222;
}

.reference .date {
	color: #4F4F4F;
	font-size: 0.9rem;
	margin: 0;
}

ul.links {
	list-style: none;
	margin-left: 0;
}

ul.links > li {
	background-image: url('./assets/external-link.svg');
	background-size: 0.8rem;
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 1.1rem;
	margin: 0;
}

ul.links > li > a {
	padding: 0.4rem;
	display: inline-block;
}

ul.features {
	padding: 0;
	margin-left: 0;
	list-style: none;
	font-size: 0;
}

ul.features > li {
	display: inline-block;
	background-color: #ddd;
	padding: 0.5rem;
	margin: 0 0.5rem 0.5rem 0;
	border-radius: 0.5rem;
	font-size: 0.8rem;
}

.imprint {
	max-width: 50rem;
	padding: 0 2rem;
	margin: 3rem auto;
}

.grid {
	margin-top: 2rem;
	text-align: justify;
	font-size: 0.1px;
}

.grid:after {
	content: '';
	display: inline-block;
	width: 100%;
}

.grid .placeholder {
	padding: 0;
	margin: 0;
	background-color: transparent;
}

.grid-item {
	display: inline-block;
	background: #FFF;

	width: 48%;
	padding-top: 48%;
	margin-bottom: 3%;

	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	transform-style: preserve-3d;
	transition: all 150ms ease-out 0s;
}

.grid-item:hover {
	background-color: #FAFAFA;
}

@media screen and (min-width: 36em) {
	.reference {
		padding-left: 120px;
	}
	.reference .app-icon {
		margin-left: -120px;
	}
	.landing ul {
		bottom: 2rem;
		left: 2rem;
	}
	.landing ul.right {
		right: 2rem;
	}
	.portfolio {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@media screen and (min-width: 48em) {
	.grid-item {
		width: 31%;
		padding-top: 31%;
		margin-bottom: 3%;
	}

	.reference > header {
		margin: 0 0 2rem;
	}

	.reference .title {
		margin: 0;
		font-size: 2rem;
	}

	.reference .company {
		margin: 0 0 0.1rem;
		font-size: 1.5rem;
	}

	.reference .date {
		font-size: 1rem;
	}

	.reference > .headline {
		margin: 3rem 0 1.2rem;
	}
}

@media screen and (min-width: 64em) {
	h1 {
		font-size: 3.2rem;
	}
	.reference {
		padding-right: 120px;
	}
	.grid-item {
		width: 23%;
		padding-top: 23%;
		margin-bottom: 2.4%;
	}
}

@media screen and (min-width: 80em) {
}
