body{
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 18px;
	font-family: "Times New Roman", Times, serif;
}

h1 {
	font-size: 2.4rem;
	font-weight: 500;
}

h2 {
	font-size: 1.5rem;
	font-weight: 300;
}

p {
	font-size: 1.2rem;
	line-height: 2rem;
}

a {
	color: #000;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

ul li {
	margin: 0 0 7px;
}

ul li:last-child {
	margin: 0;
}

.landing {
	position: relative;
	display: table;
	height: 100%;
	width: 100%;
}

.landing > div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.landing > div > h1 {
	margin: 0 0 0.5rem;
}

.landing > div > h1,
.landing > div > i,
.landing > div > p {
	padding: 0 1rem;
}

.landing ul {
	position: absolute;
	list-style: none;
	bottom: 1rem;
	left: 1rem;
	padding: 0;
	margin: 0;
}

.landing ul.right {
	left: auto;
	right: 1rem;
	text-align: right;
}

.portfolio {
	background-color: #EFEFEF;
	padding: 4rem 1rem;
}

.reference {
	max-width: 50rem;
	padding: 0 0 2rem;
	margin: 0 auto 3rem;
}

.reference .app-icon {
	display: none;
	width: 100px;
	height: 100px;
	float: left;
	margin-left: -120px;
}

.reference:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}

.reference > h2,
.reference > p,
.reference > ul {
	margin: 0 0 1rem;
}

.imprint {
	max-width: 50rem;
	padding: 0 2rem;
	margin: 3rem auto;
}

.grid {
	margin-top: 2rem;
	text-align: justify;
	font-size: 0.1px;
}

.grid:after {
	content: '';
	display: inline-block;
	width: 100%;
}

.grid .placeholder {
	padding: 0;
	margin: 0;
	background-color: transparent;
}

.grid-item {
	display: inline-block;
	background: #FFF;

	width: 48%;
	padding-top: 48%;
	margin-bottom: 3%;

	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	transform-style: preserve-3d;
	transition: all 150ms ease-out 0s;
}

.grid-item:hover {
	background-color: #FAFAFA;
}

@media screen and (min-width: 36em) {
	.landing ul {
		bottom: 2rem;
		left: 2rem;
	}

	.landing ul.right {
		right: 2rem;
	}

	.portfolio {
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.grid-item {
		width: 31%;
		padding-top: 31%;
		margin-bottom: 3%;
	}
}

@media screen and (min-width: 48em) {
	.reference {
		padding: 0 120px 2rem;
	}
	.reference .app-icon {
		display: block;
	}
}

@media screen and (min-width: 64em) {
	h1 {
		font-size: 3.2rem;
	}
	.grid-item {
		width: 23%;
		padding-top: 23%;
		margin-bottom: 2.4%;
	}
}

@media screen and (min-width: 80em) {

}
